.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Header {
  width: 100%;
  height: 101px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.navlink {
  display: contents;
}
.Company-logo {
  text-decoration: none;
}
.Company-name {
  top: 44px;
  left: 114px;
  position: absolute;
  font-size: 17px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.text {
  text-align: justify;
  text-transform: capitalize;
}
.Nav {
  top: 42.5px;
  flex: 0 0 auto;
  right: 32px;
  display: flex;
  position: absolute;
}
.navlink1 {
  display: contents;
}
.component {
  text-decoration: none;
}
.navlink2 {
  display: contents;
}
.component1 {
  text-decoration: none;
}
.navlink3 {
  display: contents;
}
.component2 {
  text-decoration: none;
}
.Body {
  flex: 1;
  width: 100%;
  height: 880px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 100%;
  margin-top: 0px;
  min-height: 80vh;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient( 179.4deg,  #2196f3 1.8%, #73fff9 97.1% );;
}
.container1 {
  width: 100%;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.text2 {
  height: 114px;
  font-size: 5rem;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.Text6 {
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-bottom: 45px;
}
.BtnGroup {
  width: 454px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navlink4 {
  display: contents;
}
.component3 {
  text-decoration: none;
}
.Baikal-image {
  width: 670px;
  height: 785px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 3px 3px 10px 0px #000000;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.Footer {
  width: 100%;
  height: 0px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.Footer-text {
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.IconGroup {
  top: 60px;
  width: 139px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  display: contents;
}
.Instagram-icon {
  text-decoration: none;
}
.link1 {
  display: contents;
}
.Telegram-icon {
  text-decoration: none;
}
.link2 {
  display: contents;
}
.VK-icon {
  text-decoration: none;
}
@media(max-width: 991px) {
  .Body {
    flex-direction: column;
  }
  .container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .text2 {
    text-align: center;
  }
  .Text6 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .Body {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Text6 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Baikal-image {
    width: 80%;
  }
  .Footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .Body {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .BtnGroup {
    flex-direction: column;
  }
  .Footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .Footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
