.component11-container {
  display: flex;
  position: relative;
}
.component11-icon {
  width: 30px;
  height: 30px;
  opacity: 0.6;
  position: relative;
}
.component11-root-class-name {
  top: 25px;
  left: 600px;
  position: absolute;
}
