.component8-container {
  display: flex;
  position: relative;
}
.component8-icon {
  width: 30px;
  height: 30px;
  opacity: 0.6;
  position: relative;
}
.component8-root-class-name {
  top: 25px;
  left: 620px;
  position: absolute;
}
