.component3-container {
  display: flex;
  position: relative;
}
.component3-link {
  display: contents;
}
.component3-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
