.container {
  display: flex;
  position: relative;

}
.button {
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
}
.button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
