.container {
  display: flex;
  position: relative;
}
.icon {
  width: 26px;
  align-self: flex-start;
}
.rootClassName {
  align-self: flex-start;
}
.rootClassName1 {
  align-self: flex-start;
}
.rootClassName2 {
  align-self: flex-start;
}
.rootClassName3 {
  align-self: flex-start;
}
.rootClassName4 {
  align-self: flex-start;
}
.rootClassName5 {
  align-self: flex-start;
}
.rootClassName6 {
  align-self: flex-start;
}
.rootClassName7 {
  align-self: flex-start;
}
.rootClassName8 {
  align-self: flex-start;
}
.rootClassName9 {
  align-self: flex-start;
}
.rootClassName10 {
  align-self: flex-start;
}
.rootClassName11 {
  align-self: flex-start;
}
.rootClassName12 {
  align-self: flex-start;
}
.rootClassName13 {
  align-self: flex-start;
}
.rootClassName14 {
  align-self: flex-start;
}
.rootClassName15 {
  align-self: flex-start;
}
.rootClassName16 {
  align-self: flex-start;
}
.rootClassName17 {
  align-self: flex-start;
}
