.image1-container {
  display: flex;
  position: relative;
}
.image1-container1 {
  display: flex;
  position: relative;
}
.image1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin: 0px;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
}
.image1-root-class-name {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name1 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name2 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name3 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name4 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name5 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name6 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name7 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name8 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name9 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name10 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name11 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name12 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name13 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name14 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name15 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name16 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
.image1-root-class-name17 {
  top: 4px;
  flex: 0;
  left: 10px;
  position: absolute;
  align-self: center;
}
