.container {
  display: flex;
  position: relative;
}
.image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
