.container {
  display: flex;
  position: relative;
}
.text {
  margin-left: var(--dl-space-space-twounits);
}
@media(max-width: 767px) {
  .text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
